
#grid-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0.5px solid red;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    --cols: 1;
}

.item{
    border: 0.1px solid black;
    flex: 1 1 calc(100% / var(--cols));
    box-sizing: border-box;
}

button{
    display: block;
    width: fit-content;
    margin: 30px auto;
}